{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Home'|trans }}
{% endblock %}

{% block body %}
    <table class="table mt-1">
        <thead>
        <tr>
            <th scope="col" class="col-10">{{ 'Name'|trans }}</th>
            <th class="col-2"></th>
        </tr>
        </thead>
        <tbody>
        {% for event in pager %}
            <tr>
                <td>{{ event.name }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('app_view_event_public', {'id': event.id}) }}" class="btn btn-secondary">{{ 'View more'|trans }}</a>
                        {% if event.ticketsAvailable %}
                        <a href="{{ path('app_buy_tickets', {'id': event.id}) }}" class="btn btn-success">{{ 'Buy tickets'|trans }}</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagerfanta(pager) }}
{% endblock %}
