{% extends 'base.html.twig' %}

{% block title %}
    {{ 'All events'|trans }}
{% endblock %}

{% block body %}
    {% if "ROLE_ADMIN" in app.user.roles %}
    <div class="mb-3">
        <a href="{{ path('app_events_new') }}" class="btn btn-primary">{{ 'Create a new event'|trans }}</a>
    </div>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ 'ID'|trans }}</th>
            <th scope="col">{{ 'Name'|trans }}</th>
            <th scope="col">{{ 'Begins at'|trans }}</th>
            <th scope="col">{{ 'Ends at'|trans }}</th>
            <th scope="col">{{ 'Public'|trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for event in pager %}
            <tr>
                <th scope="row">{{ event.id }}</th>
                <td>{{ event.name }}</td>
                <td>{{ event.beginAt|format_datetime }}</td>
                <td>{{ event.endAt|format_datetime }}</td>
                <td>{{ event.isPublic ? 'Yes'|trans : 'No'|trans }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="{{ 'Event actions'|trans }}">
                        <a href="{{ path('app_events_show', {'id': event.id}) }}" class="btn btn-primary">{{ 'View'|trans }}</a>
                        {% if "ROLE_ADMIN" in app.user.roles or app.user in event.hosts %}
                        <a href="{{ path('app_events_edit', {'id': event.id}) }}" class="btn btn-secondary">{{ 'Edit'|trans }}</a>
                        {% endif %}
                        {% if "ROLE_ADMIN" in app.user.roles %}
                            <button
                                    type="button"
                                    class="btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#confirm-delete-modal-event"
                                    {{ stimulus_controller('submit-confirm', {'url': path('app_events_delete', {'id': event.id}), 'type': 'event'}) }}
                                    {{ stimulus_action('submit-confirm', 'confirm') }}
                            >
                                {{ 'Delete'|trans }}
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagerfanta(pager) }}

    {% if "ROLE_ADMIN" in app.user.roles %}
        {% include 'utils/delete_confirm_modal.html.twig' with {'confirmation_text': 'Are you sure you want to delete this event?'|trans, 'type': 'event'} %}
    {% endif %}
{% endblock body %}
