{% extends 'base.html.twig' %}

{% block title %}
    {{ 'View event %name%'|trans({'%name%': event.name}) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'General information'|trans }}</h5>
                    <p><b>{{ 'Name'|trans }}</b>: {{ event.name }}</p>
                    <p><b>{{ 'Begins at'|trans }}</b>: {{ event.beginAt|format_datetime }}</p>
                    <p><b>{{ 'Ends at'|trans }}</b>: {{ event.endAt|format_datetime }}</p>
                    <p><b>{{ 'Public'|trans }}</b>: {{ event.public ? 'Yes'|trans : 'No'|trans }}</p>
                    <p><b>{{ 'Hosts'|trans }}</b>: {{ event.hosts|join(', ') }}</p>
                    <p><b>{{ 'Checkers'|trans }}</b>: {{ event.ticketCheckers|join(', ') }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'Description'|trans }}</h5>

                    {{ event.description|raw }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'Event news'|trans }}</h5>
                    <a class="btn btn-primary" href="{{ path('app_event_create_news', {'id': event.id}) }}">{{ 'Add news'|trans }}</a>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'ID'|trans }}</th>
                            <th scope="col">{{ 'Title'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for news in event.eventNews %}
                            <tr>
                                <td>{{ news.id }}</td>
                                <td>{{ news.title }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('app_event_news_view', {'id': news.id}) }}" class="btn btn-secondary">{{ 'View'|trans }}</a>
                                        <a href="{{ path('app_event_edit_news', {'id': news.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
                                        <button
                                                type="button"
                                                class="btn btn-danger"
                                                data-bs-toggle="modal"
                                                data-bs-target="#confirm-delete-modal-event-news"
                                                {{ stimulus_controller('submit-confirm', {'url': path('app_event_delete_news', {'id': news.id}), 'type': 'event-news'}) }}
                                                {{ stimulus_action('submit-confirm', 'confirm') }}
                                        >
                                            {{ 'Delete'|trans }}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'Ticket types'|trans }}</h5>
                    <a class="btn btn-primary" href="{{ path('app_event_ticket_type_new', {'id': event.id}) }}">{{ 'Add ticket type'|trans }}</a>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'ID'|trans }}</th>
                            <th scope="col">{{ 'Name'|trans }}</th>
                            <th scope="col">{{ 'Price'|trans }}</th>
                            <th scope="col">{{ 'Requirements'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for type in event.eventTicketTypes %}
                            <tr>
                                <td>{{ type.id }}</td>
                                <td>{{ type.name }}</td>
                                <td>{{ type.price|format_currency('EUR') }}</td>
                                <td>{{ type.requirements|raw }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('app_event_ticket_type_edit', {'id': type.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
                                        <button
                                                type="button"
                                                class="btn btn-danger"
                                                data-bs-toggle="modal"
                                                data-bs-target="#confirm-delete-modal-event-ticket-type"
                                                {{ stimulus_controller('submit-confirm', {'url': path('app_event_ticket_type_delete', {'id': type.id}), 'type': 'event-ticket-type'}) }}
                                                {{ stimulus_action('submit-confirm', 'confirm') }}
                                        >
                                            {{ 'Delete'|trans }}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'utils/delete_confirm_modal.html.twig' with {'confirmation_text': 'Are you sure you want to delete this news article?'|trans, 'type': 'event-news'} %}
    {% include 'utils/delete_confirm_modal.html.twig' with {'confirmation_text': 'Are you sure you want to delete this ticket type?'|trans, 'type': 'event-ticket-type'} %}
{% endblock body %}
